<!-- LAUNCH FILE FOR ROS SIMULATION -->
<launch>
    <!-- MAVROS Launch with Joystick or Keyboard -->
    <arg name="gazebo" default="true"/>
    <arg name="use_keyboard" default="false"/>
    <arg name="use_world_ned_frame" default="true"/>

    <!-- Conditional launchs for joystick or keyboard with/without Gazebo -->
    <include file="$(find bluerov2_bringup)/launch/bringup_ardusub_sitl_custom.launch">
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="use_keyboard" value="$(arg use_keyboard)"/>
        <arg name="use_world_ned_frame" value="$(arg use_world_ned_frame)"/>
    </include>

</launch>
